.features__title {
  font-family: $playfair;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 6px;
}

.features__subtitle {
  font-family: $intro;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 14px;
}

.features__wrapper {
  background-color: $white;
  min-width: 320px;
  margin-left: -20px;
}

.features__list {
  @include reset-list;
}
