.reviews-item__img {
  margin-bottom: 6px;
}

.reviews-item__name {
  margin-bottom: 2px;
}

.reviews-item__subtitle {
  margin-top: 0;
  margin-bottom: 7px;
  font-size: 12px;
}

.reviews-item__text {
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  margin: 0 19px 0;
}
