@font-face {
  font-family: "Circe";
  font-style: normal;
  font-display: swap;
  src: local("Circe"),
    url("../fonts/Circe-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "IntroScriptR";
  font-style: normal;
  font-display: swap;
  src: local("IntroScriptR"),
    url("../fonts/IntroScriptR-H2Base.otf") format("otf");
}

@font-face {
  font-family: "PlayfairDisplay";
  font-style: normal;
  font-display: swap;
  src: local("PlayfairDisplay"),
    url("../fonts/PlayfairDisplay-Bold.ttf") format("ttf");
}
