//<-------------------- Colors -------------------->
$black: #000000;
$white: #ffffff;

// <---------- Border Colors ---------->

// <-------------------- Fonts -------------------->
$playfair: "PlayfairDisplay", "Times New Roman", serif;
$intro: "IntroScriptR", "Arial", sans-serif;
$circe: "Circe", "Arial", sans-serif;

// <-------------------- Viewport -------------------->
$mobile-width: 320px;
$mobile-pads: 20px;
$tablet-width: 768px;
$tablet-pads: 20px;
$desktop-width: 1300px;
$desktop-pads: 74px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
